.movie-card {
  width: 100%;
  display: flex;
  row-gap: 1rem;
  column-gap: 1rem;
  flex-direction: row;
  flex-wrap: wrap;
  margin: auto;
  margin-left: 0.5rem;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 190px;
  background-color: rgb(236, 236, 236);
  padding: 0.4rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.card-image {
  /* Add styling properties for the image */
  width: 98%;
}

.card-details {
  .card-edit-link-container-movie,
  .card-edit-link-container-tv {
    display: flex;
    justify-content: flex-end;
    position: relative;
    margin-right: 0.8rem;
    margin-top: -1.2rem;

    .card-edit-list,
    .card-edit-list-movie {
      position: absolute;
      top: -17vh;
      z-index: 2;
      ul {
        display: flex;
        flex-direction: column;
        background-color: rgb(209, 209, 209);
        border-radius: 5px;
        list-style: none;
        color: rgb(87, 87, 87);
        padding: 0.6rem 0 0.1rem 0;
        li {
          display: flex;
          font-size: 12px;
          column-gap: 0.6rem;
          cursor: pointer;
          border-radius: 3px;
          padding: 0.7rem 0.95rem;

          &:hover {
            color: rgb(19, 19, 19);
            background-color: rgb(193, 193, 193);
          }
        }
      }
    }
    .card-edit-list-movie {
      top: -11.5vh;
    }

    .card-edit-link {
      cursor: pointer;
      font-size: 18px;
      font-weight: 800;
      .dot {
        background-color: rgb(49 106 173);
        border-radius: 50%;
        transform: rotate(90deg) scale(1.2);
        width: 220%;
        height: 126%;
        display: flex;
        justify-content: center;
        color: rgb(240, 240, 240);
        border: none;
        outline: none;
        &:hover {
          background-color: rgb(55 115 188);
        }
      }
    }
  }
  .card-edit-link-container-movie {
    margin-right: 1.25rem;
  }
}
.delete {
  color: rgb(180, 24, 24);
  cursor: pointer;
  &:hover {
    color: rgb(190, 39, 39);
  }
}
.card-title {
  margin-bottom: 15px;
  margin-top: 15px;
}

.card-info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 4px;
  /* Add styling properties for the card info container */
}

.card-year,
.card-length {
}

.card-ratings {
  margin-bottom: 4px;
}

.star-rating {
  /* Add styling properties for the star rating */
}

.card-genre {
  margin-bottom: 4px;
}

.card-creator-status {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.card-creator,
.card-status {
  /* Add styling properties for the creator and status elements */
}

.nodata {
  margin: auto;
  margin-top: 30dvh;
}
