.list {
  display: flex;
  width: 100%;

  .listContainer {
    flex: 6;
    height: 100vh;
    overflow-y: auto;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* Internet Explorer and Microsoft Edge */

    /* Hide the scrollbar for webkit-based browsers */
    &::-webkit-scrollbar {
      display: none;
    }
  }
}
