hr {
  height: 0;
  border: 0.1px solid rgb(230, 227, 227);
}

.bottom {
  display: flex;
  align-items: center;
  margin: 10px;

  .colorOption {
    width: 20px;
    height: 20px;
    border-radius: 5px;
    border: 1px solid #ffffff;
    cursor: pointer;
    margin: 5px;

    &:nth-child(1) {
      background-color: whitesmoke;
    }
    &:nth-child(2) {
      background-color: #ffffff;
    }
    &:nth-child(3) {
      background-color: rgb(255, 255, 255);
    }
  }
}

.arrow-right::after {
  content: " <";
}
.arrow-left::after {
  content: " V";
}
.tab {
  margin-left: 10px;
}
